/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}

/* ヘッダー */
header {
  height: 48px;
  background-color: #333;
  padding: 10px 0;
  display: flex;
  font-size: 14px;
  color: #f0f0f0;
  margin: 0 auto;
}

.heading {
  width: 50%;
  margin-left: 30px;
}

.title {
  font-size: 30px;
  color: #f0f0f0;
  text-decoration: none;
  padding-top: 10px;
}

.navbar {
  width: 50%;
  padding: 20px;
}

.nav-lists {
  display: flex;
  justify-content: end;
}

li {
  list-style: none;
  padding-left: 30px;
  padding-right: 30px;
}

.login {
  color: white;
  text-decoration: none;
}

.sign-up {
  color: white;
  text-decoration: none;
}

.logout {
  color: white;
  text-decoration: none;
  background-color: #333;
  border: none;
  cursor: pointer;
}

.user-nickname {
  color: white;
  text-decoration: none;
}

/* first-viewクラスからbottom-contentクラスまでの要素の親要素 */
.contents {
  background-color: white;
}

.first-view{
  height: 90vh;
}

.top-image {
  height: 100%;
  width: 100%;
}

/* 新着情報 */
.upper-content{
  height: 100%;
  margin: 0 160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.heading-name {
  text-align: center;
  border-bottom: 2px solid red;
  width: 200px;
  margin: 40px auto;
}

.messages {
  width: 100vw;
  margin: 0 auto;
}

.message {
  display: flex;
  font-size: 18px;
  margin: 0 0 16px 70px;
}

.message-date {
  padding-right: 40px;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}

.item-img-content {
  position: relative;
}

.item-img {
  width: 33vh;
  height: 33vh;
}

.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.item-name {
  font-size: 2.5vh;
}

.item-price {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}


/* スタイリスト紹介 */
.middle-content{
  height: 450px;
  margin: 0 160px;
}

.stylist-list {
  display: flex;
  justify-content: space-around;
  margin: 60px 0;
}

.stylist-image {
  height: 300px;
}

.stylist-name {
  font-size: 16px;
  text-align: center;
}

/* フォーム */
.bottom-content {
  height: 800px;
  margin: 0 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-field, .large-field {
  width: 800px;
  font-size: 16px;
  padding: 15px;
  border: 1px solid #b5aaaa;
  display: block;
}

.small-field {
  margin: 0 auto 15px;
}

.large-field {
  height: 200px;
  margin: 0 auto 30px;
}

.send {
  width: 200px;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid white;
  background-color: black;
  color:white;
  display: block;
}

/* フッター */
footer {
  height: 50px;
  background-color: black;
  text-align: center;
  color: #f0f0f0;
}

.search-bar-contents {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
}

.search-box-top {
  width:600px;
  height:25px;
}

.search-link {
  display: flex;
  text-align: center;
  justify-content: center;
  color: blue;
  font-size: 15px;
  padding: 0px 0px 0px 20px;
}